<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="card border-primary mb-3 bet-aboutUs-card">
        <div class="card-header">Cum functioneaza?</div>
        <div class="card-body text-primary bet-aboutUs-card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Primul user care se inregistreaza are rolul de admin si are responsabilitatea sa:</p>
            <ul class="list-group">
                <li class="list-group-item">Adauge meciuri</li>
                <li class="list-group-item">Adauge scorurile la final</li>
                <li class="list-group-item">Colecteze bani pentru pariuri</li>
            </ul>
            <p class="card-text">Useri normali pot sa puna pariuri pe un meci si au dreptul de a-si modifica pariul</p>
            <p class="card-text">Daca se adauga un pariu cu valoarea 0, acel pariu nu se salveaza</p>

        </div>
    </div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer/footer :: footer"/>

</body>
</html>