<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="card border-primary mb-3 bet-aboutUs-card">
        <div class="card-header">Cum functioneaza?</div>
        <div class="card-body bet-aboutUs-card-body">
            <p class="card-text">Primul user care se inregistreaza are rolul de admin si are responsabilitatea sa:</p>
            <ul class="list-group">
                <li class="list-group-item">Adauge meciuri</li>
                <li class="list-group-item">Adauge scorurile la final</li>
                <li class="list-group-item">Colecteze banii pentru pariuri</li>
                <li class="list-group-item">Inmaneze banii castigatorilor</li>
            </ul>
            <br/>
            <p class="card-text">
                Useri normali pot sa puna pariuri pe un meci si au dreptul de a-si modifica pariul (in cazul in care nu meciul nu s-a incheiat).
                <br/>
                Daca se adauga un pariu cu valoarea 0, acel pariu nu se salveaza
            </p>
            <br/>
            <h5 class="card-title">Cum se calculeaza castigul?</h5>
            <br/>
            <p class="card-text">
                Pentru fiecare pariu, se calculeaza procentul pe care il reprezinta din valoarea totala a pariurilor castigatoare. <br />
                Acel procent este primit de catre parior din valoarea totala a pariurilor pierdute.
            </p>

            <br/>
            <h5 class="card-title">S-ar putea sa fie bug-uri :(</h5>
            <br/>
            <p class="card-text">
                <a class="text-success" href="https://github.com/mihaiToader/BettingPlatform">Pentru imbunatatiri si sugestii</a>
            </p>



        </div>
    </div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer/footer :: footer"/>

</body>
</html>