<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div th:if="${game == null}">
        <div class="alert alert-danger">
            Game not found or not finished!
        </div>
    </div>
    <br />
    <th:block th:if="${game != null}">
        <table class="table">
            <thead class="thead-default">
            <tr>
                <th>Game</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${game.teamA + ' - ' + game.teamB}"></td>
                <td th:text="${game.endingScoreTeamA + ' - ' + game.endingScoreTeamB}"></td>
            </tr>
            </tbody>
        </table>

        <h2>Winners</h2>
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Win</th>
                <th>Total</th>
                <th>Paid</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bet,iter : ${winningBets}">
                <th scope="row" th:text="${iter.count}"></th>
                <td th:text="${bet.user.name}"></td>
                <td th:text="${bet.amount}"></td>
                <td th:text="${bet.amountWin}"></td>
                <td th:text="${bet.total}"></td>
                <td th:if="${!user.isAdmin}" th:text="${bet.paid ? 'YES' : 'NO'}"></td>
                <td th:if="${user.isAdmin}">
                    <a th:if="${!bet.paid}" th:href="@{'/admin/bet/pay/true/' + ${bet.id }}"
                       class="btn btn-primary">Pay</a>
                    <a th:if="${bet.paid}" th:href="@{'/admin/bet/pay/false/' + ${bet.id}}" class="btn btn-danger">Reset
                        Pay</a>
                </td>
            </tr>
            </tbody>
        </table>

        <h2>Losers</h2>
        <table class="table">
            <thead class="thead-default">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Paid</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bet,iter : ${losingBets}">
                <th scope="row" th:text="${iter.count}"></th>
                <td th:text="${bet.user.name}"></td>
                <th th:text="${bet.amount}"></th>
                <td th:if="${!user.isAdmin}" th:text="${bet.paid ? 'YES' : 'NO'}"></td>
                <td th:if="${user.isAdmin}">
                    <a th:if="${!bet.paid}" th:href="@{'/admin/bet/pay/true/' + ${bet.id }}"
                       class="btn btn-primary">Pay</a>
                    <a th:if="${bet.paid}" th:href="@{'/admin/bet/pay/false/' + ${bet.id}}" class="btn btn-danger">Reset
                        Pay</a>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>
</div>
<!-- /.container -->

<div th:replace="fragments/footer/footer :: footer"/>

</body>
</html>