<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <h2>In progress</h2>
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Game</th>
            <th>Bet</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="progressGame,iter : ${progressGames}" class="finished-game">
            <form th:action="@{'/user/bets/' + ${progressGame.id}}" method="get">
            </form>
            <th scope="row" th:text="${iter.count}"></th>
            <td th:text="${progressGame.teamA  + ' - ' + progressGame.teamB}"></td>
            <td th:if="${user}">
                <th:block th:if="${!user.isAdmin}">
                    <th:block th:if="${bets.containsKey(progressGame)}" th:with="bet=${bets.get(progressGame)}">
                        <div th:text="${bet.amount + ' lei on ' + T(com.mt.bettingPlatform.domain.Bet).getTeamNameFromType(bet.type, bet.game)}"></div>
                        <a th:if="${!bet.paid}" th:href="@{'/user/updateBet/' + ${bet.id}}"  class="btn btn-success">UpdateBet</a>
                    </th:block>
                    <a th:if="${!bets.containsKey(progressGame)}" th:href="@{'/user/addBet/' + ${progressGame.id}}"  class="btn btn-primary">Bet</a>
                </th:block>
                <a th:if="${user.isAdmin}" th:href="@{'/admin/updateGame/' + ${progressGame.id}}"  class="btn btn-primary">Update</a>
            </td>
        </tr>
        </tbody>
    </table>

    <h2>Finished</h2>
    <table class="table">
        <thead class="thead-default">
        <tr>
            <th>#</th>
            <th>Game</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="finishedGame,iter : ${finishedGames}" class="finished-game">
            <form th:action="@{'/user/bets/' + ${finishedGame.id}}" method="get">
            </form>
            <th scope="row" th:text="${iter.count}"></th>
            <td th:text="${finishedGame.teamA + ' - ' + finishedGame.teamB}"></td>
            <td th:text="${finishedGame.endingScoreTeamA + ' - ' + finishedGame.endingScoreTeamB}"></td>
        </tr>
        </tbody>
    </table>

</div>
<!-- /.container -->

<div th:replace="fragments/footer/footer :: footer"/>

</body>
</html>