h1{
	color:#0000FF;
}

footer{
    margin-top:60px;
}

.navbar-nav-left{
	align-self: right;
}

.makeMeWhitePls{
    color: white;
}

.not-active {
	pointer-events: none;
	cursor: default;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.note-form{
	width: 80%;
	align-content: center;
}

.finished-game {
	cursor: pointer;
}

.link-without-underline {
	text-decoration: none !important;
}

.title-h3 {
	font-size: 24px;
}

.footer-version {
	font-size: 14px;
	text-align: right;
}

.bet-button {
	cursor: pointer;
}
